
  /* test css */

  .Navbar {
    padding: 0px;
    display: flex;
    align-items: inherit;
    width: 100%;
  
    margin: 0 auto;
    border-bottom: 1px solid #181817;
    background-color: black;
  }
  .Navbar h1 {
    color:white;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
  }
  .Navbar .links {
    margin-left: auto;
  }

  .Navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
  }
  .Navbar a:hover {
    color: white;
  }
 
  