name: CI

on:
  push:
    branches:
      - main

jobs:
  BACKEND:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
        with:  
          branch: main
          appdir: ./Frontend
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "the-resturant-frontend" #Must be unique in Heroku
          heroku_email: "kavindugayashan155@gmail.com"
